---
layout: default
title: Photo-a-Day 2015
permalink: /photo-a-day-2015/
---

<div class="home">

  <h1 class="page-heading">Daily Photos</h1>

  <ul class="post-list">
    {% for photo in site.daily-photos reversed%}
      {% capture currentmonth %}{{photo.date | date: "%B"}}{% endcapture %}
      {% if currentmonth != month %}
        {% unless forloop.first %}
          </ul>
          <ul class="post-list">
        {% endunless %}
          <h1>{{ currentmonth }}</h1>
        {% capture month %}{{currentmonth}}{% endcapture %} 
      {% endif %}
      <a href="{{ photo.full-path }}"><img src="{{ photo.thumbnail-path }}" alt="{{ photo.title }}"/></a>
    {% endfor %}
</div>
